* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e7e7e7;
}

.formulario {
    padding: 120px;
}

form {    
    padding: 24px 0;
    text-align: center;    
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}