.personagens {
    padding: 48px;

    h2 {
        padding: 32px;
        text-align: center;
    }

    &__tabs {
        padding: 32px;
        text-align: center;

        &__button {
            // Estilos padrão dos botões
            background-color: transparent;
            color: #000;
            border: 2px solid #000;
            padding: 10px 20px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: #000;
                color: #fff;
            }

            &--is-active {
                background-color: #000; /* Fundo preto */
                color: #fff; /* Texto branco */
                border: 2px solid #fff; /* Borda branca para contraste */
                transform: scale(0.95); /* Leve redução de tamanho para simular o botão sendo pressionado */
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil para dar profundidade */
            }
        }
    }

    &__content {
        display: none;
        transition: display 0.3s ease, visibility 0s ease 0s;
        gap: 48px;
        margin-bottom: 32px;

        img {
            width: 50%;

            @media (max-width: 1600px) {
                width: 100%;
            }
        }

        p {
            text-align: justify;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 0.7em;

            @media (max-width: 1600px) {
                width: 100%; /* Ocupa toda a largura */
                text-align: center; /* Centraliza o texto */
                align-items: center; /* Alinha ao centro */
                justify-content: center; /* Centraliza verticalmente */
                padding: 20px;
                font-size: 0.6em;
            }
        }

        &--is-active {
            display: flex;
            transition: display 0.3s ease, visibility 0s ease 0s;

            @media (max-width: 1023px) {
                display: block;
            }
        }
    }
}